/* main! */

main {
    display: flex;
    flex-direction: column;
    gap: 25px;

    padding: 25px 250px;
}

.main-title {
    display: flex;
    flex-direction: column;
    gap: 6.25px;

    font-size: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 6.25px;
}

.content li {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
}

@media (max-width: 450px) {
    .main-title {
        font-size: 18px;
    }
}
