/* main! */

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12.5px;
    
    padding: 50px 250px;
    margin-top: 80px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12.5px;
}

.freeview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    
    padding: 10px;
    aspect-ratio: 16 / 9;
    
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    border: 1px solid rgba(0, 0, 0, 0.0625);
}

.freeview-category {
    display: flex;
    flex-wrap: wrap;
    gap: 6.25px;
    width: fit-content;
}

.freeview-category li {
    height: fit-content;
    padding: 6.25px 12.5px;
    
    font-size: 14px;
    border-radius: 5px;
    backdrop-filter: blur(2.5px);
}

.html {
    background-color: #ea000090;
    color: rgba(255, 255, 255, 1);
}

.css {
    background-color: #0073ff90;
    color: rgba(255, 255, 255, 1);
}

.js {
    background-color: #ffc40090;
    color: rgba(255, 255, 255, 1);
}

.figma {
    background: linear-gradient(to right, rgb(255, 55, 0, 0.6), rgb(255, 102, 0, 0.6), rgb(221, 0, 221, 0.6), rgb(72, 151, 255, 0.6), rgb(0, 213, 0, 0.6));
    color: rgba(255, 255, 255, 1);
}

.link {
    font-size: 14px;
}

.text-group {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
}

.text-group > a {
    display: none;
}

.content-title {
    font-size: 18px;
    font-weight: 700;
}

.content-sub-title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.25);
}

.content-hashtag {
    display: flex;
    flex-wrap: wrap;
    gap: 6.25px;
}

.hashtag {
    padding: 6.25px 12.5px;
    
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.0625);
    color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
}

@media (max-width: 450px) {
    main {
        margin-top: 104px;
        gap: 25px !important;
    }
}