/* main! */

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12.5px;
    
    padding: 50px 250px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12.5px;
}

.freeview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    
    padding: 10px;
    aspect-ratio: 16 / 9;
    
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)) !important;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}

.freeview-category {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 6.25px;
}

.freeview-category li {
    height: fit-content;
    padding: 6.25px 12.5px;
    
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.25);
    color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    backdrop-filter: blur(5px);
}

.link {
    font-size: 14px;
}

.text-group {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
}

.content-title {
    font-size: 18px;
    font-weight: 700;
}

.content-sub-title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.25);
}

.content-hashtag {
    display: flex;
    flex-wrap: wrap;
    gap: 6.25px;
}

.content-hashtag li {
    padding: 6.25px 12.5px;
    
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.0625);
    color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
}

@media (max-width: 450px) {
    main {
        gap: 12.5px !important;
    }
}